.cursor {
  display: none;
  background-color: rgba(22, 39, 61, .5);
  z-index: 1000;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid var(--color-text);
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
}

@media (max-width: 500px) {
  .cursor {
    display: none;
    opacity: 0;
  }
}
